.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
*.egg-info
.venv
venv
env
.env
tests
certificates/*.p12
certificates/*.pfx
certificates/*.pem
certificates/*.crt
certificates/*.key
